a{
    color: gray;
    text-decoration: none;
}
a:hover{
    color: gray;
    text-decoration: none;
}

.information{
    width: 100%;
    height: auto ;
    justify-content: center;
    align-items: center;
}


.header{
    width: 100%;
    display: flex;
    top: 0;
    justify-content: center;
    height: auto;
}